body {
    margin: 30px;
    background-color: #b2ad7f;
    font-family:'Courier New', Courier, monospace;
}

h2 {
    margin : auto;
    width:fit-content;
    height: fit-content;
    background-color: none; 
    opacity: 1.5;
    padding: none;
    border-radius: 1px;
    border-style: none;
    border-width: 2px;
    box-sizing: border-box;
}

.idchicken {
    background-color: #a2b9bc;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-width: 3px;
    float: right;
    box-sizing: border-box;
    width: fit-content;
    padding: 2px;
}

.idbeef {
    background-color: #a2b9bc;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-width: 3px;
    float: right;
    box-sizing: border-box;
    width: fit-content;
    padding: 2px;
}

.idsushi {
    background-color: #a2b9bc;
    position: relative;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-width: 3px;
    float: right;
    box-sizing: border-box;
    width: fit-content;
    padding: 2px;
}

#chicken {
    position: relative;
    background-color: #878f99;
    border-style: solid;
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: content-box;
    margin:10px;

}

#beef {
    position: relative;
    background-color: #878f99;
    border-style: solid;
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: content-box;
    margin:10px;
   
}
#sushi { 
    position: relative;
    background-color: #878f99;
    border-style: solid;
    padding-left: 10px;
    padding-left: 10px;
    box-sizing: content-box;
    margin:10px;
    
}

@media screen and (min-width: 1200px) {#chicken, #beef, #sushi {
    height: 33.3%;
    width: 33.3%;
    float: left;
}}

